ul {
    list-style: none;
    width: 100%;
}

ul li img {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fade {
    animation-name: fade-image;
    animation-duration: 1.5s;
}

@keyframes fade-image {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}