body {
    position: relative;
}

ul {
    list-style: none;
    width: 100%;
}

ul li img {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-right,
.btn-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
}

.btn-right {
    right: 2%;
}

.btn-left {
    left: 2%;
}

.btn-right img,
.btn-left img {
    width: 40px;
    opacity: .8;
}



.btn-right img {}


.fade {
    animation-name: fade-image;
    animation-duration: 1.5s;
}

@keyframes fade-image {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}